.board {
    width: 800px;
    display: grid;
    order: -1;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.whiteSquare {
    height: 100px;
    width: 100px;
    background-color: #eed7bd;
}

.blackSquare {
    height: 100px;
    width: 100px;
    background-color: #a37556;
}

.piece {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece img {
    width: 80%;
    height: 80%;
}

.piece-white {
    filter: invert(100%);
}

.piece-black {
    filter: invert(0%);
}
